.nav {
    margin-right: 40px;

    .header-menu {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
}

.header {
    background-color: $bg-color-white;

    display: none;
    align-items: center;
    justify-content: space-between;
    padding-left: $padding-left-16;
    padding-right: $padding-right-16;
    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;
}

.logo {
    margin-left: 17px;
}

@media(max-width: 1120px) {
    .header {
        display: flex;
    }
}
