$fs-bg: 28px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-most-small: 12px;

$line-height-bg: 40px;
$line-height-pre-bg: 32px;
$line-height-medium: 24px;
$line-height-pre-medium: 20px;
$line-height-small: 18px;
$line-height-most-small: 16px;

$bg-color-white: #FFFFFF;
$bg-color-pink: #FF3E79;
$bg-color-gray: #F8F8F8;
$bg-color-light-gray: #EAEAEA;
$bg-color-before-h3: #41F6D7;

$border-color-menu-act: #B8FFEC;

$text-color-black: #1B1C21;
$text-color-gray: #7E7E82;
$text-color-white: #FFFFFF;
$text-color-dark-gray: #B5B6BC;

$padding-bottom-16: 16px;
$padding-left-16: 16px;
$padding-right-16: 16px;
$padding-left-24: 24px;
$padding-right-24: 24px;
$padding-left-32: 32px;
$padding-right-32: 32px;

$margin-top-32: 32px;
$margin-top-24: 24px;
$margin-top-16: 16px;